#desktop {
    background-image: url('/images/desktopMisc/desktopBG.gif');
    background-repeat: no-repeat;
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.icon {
    padding: 5px;
    width: 60px; /* Adjusted to ensure hover area is large enough */
    height: auto;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.icon img {
    width: 48px; /* Slightly larger for better clicking */
    height: 48px;
    display: block;
    margin: 0 auto;
}

.icon p {
    color: rgb(255, 255, 255);
    font-weight: 400;
    word-wrap: normal;
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Slight highlight */
    border-radius: 5px;
}