@import url(desktop.css);
@import url(windows.css);
@import url(taskbar.css);
/* 
* {
    user-select: none;
} */

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    /*background: url('images/temp.jpg') no-repeat center center fixed;*/
    background-size: cover;
    font-family: "Silkscreen", serif;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
