@import url(desktop.css);
@import url(windows.css);
@import url(taskbar.css);
@import url(socialLinks.css);
@import url(resume.css);
@import url(education.css);
@import url(contact.css);
/* 
* {
    user-select: none;
} */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 250, 223);
    background-size: cover;
    font-family: "Silkscreen", serif;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
