#taskbar {
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    opacity: 1;
    transition: 0.2s;
}

.taskbar-icon {
    padding: 5px 5px 5px 5px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    background: none;
    border-bottom: none;
    opacity: 1;
}

.taskbar-icon:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
}

.taskbar-icon.open{
    padding: 5px 5px 3px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    border-bottom: 2px solid #7a7a7a;
}

.taskbar-icon.active{
    padding: 5px 5px 3px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    border-bottom: 2px solid #377be9;
}