#windows-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window {
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 300px;
    background: white;
    border: 2px solid rgb(221, 160, 191);
    display: none;
    resize: none;
    overflow: none;
    border-radius: 5px;
    user-select: none;
}

.window-header {
    background: pink;
    color: rgb(255, 255, 255);
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.window-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.window-body {
    width: 100%;
    height: calc(100% - 30px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.window.open{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    resize: both;
    overflow: auto;
}

.window.active{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    resize: both;
    overflow: auto;
    max-height: 100vh - 50px;
}

.window.fullscreen {
    position: fixed;
    border: none;
    display: flex;
    resize: none;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}